<header>

        <div class="inside"></div>
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li><a href="#top">TOP</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#login">LOG IN</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>


  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/rfujiwar23/video/upload/v1550767875/Pexels_Videos_2908.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Be Creative: Make Your Own Cocktail</h1>
        <p class="lead mb-0">As You Watch This Video</p>
      </div>
    </div>
  </div>


</header>

<div class="container">


  <div class="row">


    <p><%= link_to "+ Add Your Own", new_cocktail_path, class: "btn btn-info" %><p>


  <%= image_tag "cocktail.jpg", alt: "Cocktail", width: 350 %>
  <p class="title"><i class="fas fa-cocktail"></i> Your Only Choices <i class="fas fa-cocktail"></i></p>
  <ul style="list-style: none; margin: 3px;">
  <% @cocktails.each do | cocktail | %>

    <div class="col-sm-4 col-xs-12 ninety">
      <p><%= link_to cocktail.name, cocktail_path(cocktail.id)  %></p>
      </div>

  <% end %>
  </ul>
  <div>
</div>
