<h1>Cocktail-anonymous!</h1>

<p><%= link_to "Make a Cocktail of Your Choice!!", new_cocktail_path %></p>

<ul>
  <% @cocktails.each do | cocktail | %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail.id)  %></li>
  <% end %>
</ul>
