// Import page-specific CSS files here.
@import "home";

body {
  background-color: #000;
}

header {
  position: relative;
  background-color: black;
  height: 55vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}



.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: white;
    position: fixed;
    height: 60px;
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
  z-index: 99;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #bdc3c7;
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.sidebarMenuInner li a:hover {
  color:red;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}



.container {
  margin-top:10px;
}

.container {
  h1 {
  font-style: italic;
  color: #f00;
  text-shadow: 1px 1px 1px #000;
  padding: 5px;
  margin-top:100px;
  }

  p {
  color: #fff;
  text-align: center;
  font-size: 36px;
  }

  p.ninety {
    font-size: 20px;
    text-align:left;

  }
  i {
    font-size:22px;
    color:#FDB630;
    padding:0 6px;
  }
}

.ninety {
  background: #fff;
  margin:3px;
  width:30%;
}

.ninety {
  p {
    font-size: 16px;
    padding-top: 6px;
  }
}
.awesome {
  width: 45%;
  margin: 100px auto;
  background-image: url('pattern.jpg');
  border-radius: 20px;
}

.awesome {
  h2 {
    color: red;
    text-shadow: 1px 1px 1px #fff;
    text-align:center;
  }
  p.text {
    font-size:18px;
  }
}


.put_your {
  width:70%;
  margin:0 auto;
  background-image: url('pattern.jpg');
  padding: 10px;
  border-radius: 5px;
}

.put_your {
  .btn-primary {
    font-style: italic;
    text-shadow: 1px 1px 1px #000;
    border-radius:5px;
    border:1px solid #000;
  }

  .put_your {
    .btn-primary:hover {
      text-decoration:underline;
      background: #2c3e50;
    }
  }
}


@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

  header {
    height:35vh;
  }

  .put_your, .awesome {
    width:95%;
  }

  .ninety {
    width:90%;
    margin:5px auto;
  }

.ninety {
  p {
    font-size: 12px;
  }
}

  .container {
    h1 {
      font-size:28px;
    }

    p {
      font-size:20px;
    }
  }
}



